source_up

# For firebase-tools
# $ firebase projects:list
# $ firebase use ${PROJECT_ID}
export XDG_CONFIG_HOME=`pwd`/.config
PATH_add `pwd`/.fvm/flutter_sdk/bin
export FLUTTER_ROOT=`pwd`/.fvm/flutter_sdk